article {
  margin: 0 0 20px 20%;
}

article header h2 {
  margin: 0 0 15px 0;
}

article aside {
  float: left;
  width: 20%;
  margin-left: -25%;
  font-size: 12px;
  line-height: 1.8;
  color: #999;
}

@media screen and (max-width: 700px) {
  article {
    margin: 0px;
    aside {
      float: none;
      width: auto;
      margin: 0 0 20px 0;
      line-height: 1.5;
    }
  }
}

article p {
  margin: 0 0 20px 0;
  font-size: 13px;
  line-height: 1.5;
  color: #666;
}

article footer {
  font-size: 12px;
  color: #999;
}

#related {
  margin: 48px 0;

  ul {
    list-style-type: none;
    margin: 0 0 9px 0;
  }
}
