@mixin header-link-base {
  a {
    text-decoration: none;
    color: #327C88;
  }
}

header.navigation {
  background: $caridade;
  border-top: 10px solid $pinotnoir;
  border-bottom: 5px solid $comfort;

  h1 {
    margin: 0.5em 0;
    display: inline-block;
    float: left;

    a {
      span {
        font-family: 'Goudy Bookletter 1911', serif;
      }
    }

    @include header-link-base;
  }

  .social {
    float: right;
    text-align: right;
    margin-top: 32px;
    font-size: 30px;

    a {
      font-size: 100%;
      padding-left: 10px;
    }

    @include header-link-base;
  }
}

