@import "compass/css3";

// ZURB Foundation settings
//-----------------------------------------

$grid-max-width: 980px;
$grid-min-width: 800px;

@import "ZURB-foundation";

// Project Styles
//-----------------------------------------

.navigation {
  width: 100%;
  background: #632739;
  border-top: 5px solid #CDD071;
  h1 {
    color: #fff;
    font-family: 'Goudy Bookletter 1911', serif;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.social {
  float: right;
  a {
    padding: 20% 8%;
    display: block;
  }
}

.main {
  margin-top: 20px;
  h2 {
    font: 1.3em;
    a {
      color: #632739;
    }
  }
}

h4.twitter {
  text-indent: 32px;
  background: url(/images/twitter.png) no-repeat;
}


.foot {
  border-top: #cccccc solid 1px;
  footer {
    float: left;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      float: right;
      li {
        margin-right: 20px;
        font-size: 14px;
        float: left;
      }
    }
  }
}
