@import "compass/css3";

code {
  overflow: scroll;
}

.navigation {
  width: 100%;
  background: #632739;
  border-top: 5px solid #CDD071;
  h1 {
    color: #fff;
    font-family: 'Goudy Bookletter 1911', serif;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.social {
  # float: right;
  a {
      float: right;
    }
}

.main {
  h2 {
    font-size: 1.3em;
    font-family: 'Enriqueta', serif;
    a {
      color: #632739;
    }
  }
}

h4.twitter {
  text-indent: 32px;
  background: url(/images/twitter.png) no-repeat;
}


.foot {
  border-top: #cccccc solid 1px;
  nav {
    float: right;
    ul {
      list-style: none;
      float: right;
      li {
        margin-right: 20px;
        font-size: 14px;
        float: left;
      }
    }
  }
}
