@import "compass/css3";

.navigation {
  width: 100%;
  background: #632739;
  border-top: 5px solid #CDD071;
  h1 {
    color: #fff;
    font-family: 'Goudy Bookletter 1911', serif;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.main {
  margin-top: 20px;
}

.foot {
  border-top: #cccccc solid 1px;
  footer {
    float: left;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      float: right;
      li {
        margin-right: 20px;
        font-size: 14px;
        float: left;
      }
    }
  }
}
