@import "bootstrap";
@import "bootstrap-responsive";

@import "compass/css3";

// fonts
@import "sssocial";
@import "calluna";

// sections
@import "header";
@import "article";
@import "footer";
@import "sidebar";
@import "pygments";
@import "jquerytweet";

// margin on all content
div.main {
  margin-top: 15px;
}

// error pages
div.error {
  margin: 120px 0px;
}

ul.archives {
  li {
    span {
      width: 80px;
      display: inline-block;
    }
  }
}

h2 {
  font-family: 'Calluna Regular', serif;
  color: #46ADBE;
  margin-bottom: 10px;

  span { color: #632739; }
}
