---
layout: columns
---

<section>
  {% for post in site.posts limit:1 %}
    <article>
      <header>
        <h2><a href="{{ post.url }}">{{ post.title }}<span>.</span></a></h2>
      </header>

      <aside>
        {{ post.date | date_to_string }}

        {% if post.aside %}
          <p>{{ post.aside }}</p>
        {% endif %}
      </aside>

      {{ post.content}}

      <!--
      <footer>
        {{ post.date | date_to_string }}
      </footer>
    -->
    </article>
  {% endfor %}
</section>
