<footer>
  <div class="grid whole">
    <nav role="navigation">
      <ul>
        <li><a href="/about.html" title="About">About</a></li>
        <li><a href="/archives.html" title="Archives">Archives</a></li>
        <li><a href="/colophon.html" title="Colophon">Colophon</a></li>
        <li><a href="https://twitter.com/anno" title="Twitter">Twitter</a></li>
        <li><a href="https://github.com/stve" title="Github">Github</a></li>
        <li><i class="ss-icon orange">rss</i> <a href="{{ site.data.meta.feed_url }}" title="Feed">Feed</a></li>
        <li class="pull-right">Copyright {{ site.time | date: '%Y' }}</li>
      </ul>
    </nav>
  </div>
</footer>
