<footer role="about">
  <div class="container">
    <div class="row">
      <div class="span12">
        <nav role="navigation">
          <ul>
            <li><a href="/about.html" title="About">About</a></li>
            <li><a href="/archives.html" title="Archives">Archives</a></li>
            <li><a href="/colophon.html" title="Colophon">Colophon</a></li>
            <li><a href="https://twitter.com/anno" title="Twitter">Twitter</a></li>
            <li><a href="https://github.com/spagalloco" title="Github">Github</a></li>
            <li><i class="ss-icon">rss</i> <a href="http://feeds.feedburner.com/flat" title="Feed">Feed</a></li>
            <li>Copyright 1999-2012</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
