<div class="foot">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <p>Copyright 1999-2012</p>
      </div>

      <div class="eight columns">
        <nav>
          <ul>
            <li><a href="/about.html" title="About">About</a></li>
            <li><a href="/archives.html" title="Archives">Archives</a></li>
            <li><a href="/work.html" title="Work">Work</a></li>
            <li><a href="https://twitter.com/anno" title="Twitter">Twitter</a></li>
            <li><a href="https://github.com/spagalloco" title="Github">Github</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>