// Soaked Theme
.sidebar {
  background-color: $caridade;
  border-top: 5px solid $pinotnoir;
  border-bottom: 5px solid $comfort;
  border-right: none;
  border-left: none;

  h1 a {
    color: $teak;
    text-decoration: none;

    span {
      font-family: 'Goudy Bookletter 1911', serif;
      font-weight: normal;
    }
  }

  p {
    color: $oak;
  }
}
@media (min-width: 48em) {
  .sidebar {
    border-right: 5px solid $pinotnoir;
    border-left: 5px solid $comfort;
    border-top: none;
    border-bottom: none;
  }
}



/* posts */
.post {
  a {
    color: $teak;
  }

  h1.post-title {
    color: $teak;

    span {
      color: $pinotnoir;
    }
  }
}

/* pages */
.page {
  h1.page-title {
    color: $teak;

    span {
      color: $pinotnoir;
    }
  }

  ul li a {
    color: $teak;
  }
}

div.related {
  font-size: 0.825em;

  h2 {
    color: $teak;

    span {
      color: $pinotnoir;
    }
  }

  ul.related-posts li a {
    font-size: 0.725em;
    color: $teak;
  }
}
