<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="http://beforeitwasround.com/favicon.ico" />
  <link rel="icon" type="image/png" href="http://beforeitwasround.com/favicon.png" />

  <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join }}{% else %}{{ site.keywords | join }}{% endif %}" />
  <meta name="author" content="{{ site.author }}" />

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />

  <link href="//fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css" />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
    <script src="/javascripts/html5shiv.js"></script>
  <![endif]-->

</head>
<body>

  {% include header.html %}

  <!-- container -->
  <div class="container main">
    {{ content }}
  </div>
  <!-- container -->

  {% include footer.html %}

  <!-- Included JS Files -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/biwr.js"></script>
  <script src="/javascripts/jquery.tweet.js"></script>
  <script src="/javascripts/ss-social.js"></script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
