<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
  <meta name="author" content="{{ site.author }}">

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/jquery.tweet.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/boastful.css" type="text/css" />

  <link href="//fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet" type="text/css" />


  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
  <![endif]-->


  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  {% include header.html %}

  <!-- container -->
  <div class="container main">

    <div class="row-fluid">
      <div class="span8">
        {% if page.title %}
          <h2>{{ page.title }}</h2>
        {% endif %}

        {{ content }}
      </div>

      <div class="span4">
        <h4>Getting Started</h4>

        <p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

        <h4 class="twitter"><span style="font-family: 'SocialicoRegular';">l</span> @anno</h4>

        <div class="tweet"></div>
      </div>
    </div>

  </div>
  <!-- container -->

  {% include footer.html %}

  <!-- Included JS Files -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/biwr.js"></script>
  <script src="/javascripts/jquery.tweet.js"></script>
  <script src="/javascripts/jquery.boastful.js"></script>
  <script src="/javascripts/gist-embed.js"></script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>