footer {
  margin: 25px 0 0 0;
  font-size: 11px;


  nav ul {
    margin: 0 0 9px 0px;

    li {
      display: inline;
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;
      border-right: 1px solid #ccc;

      i.orange {
        color: #FF9900;
      }
    }

    li:last-child, li:nth-last-child(2) {
      margin: 0;
      padding: 0;
      border: none;
    }

  }

  p {
    margin: 10px 0;
  }
}
