@import "compass/css3";

// colors
$teak: #327C88;
$azure: #46ADBE;
$pinotnoir: #632739;
$caridade: #D0D1BE;
$comfort: #E4E5D3;
$nausea: #C10028;

// fonts
@import "sssocial";
@import "calluna";

@import "core";
@import "pygments";

// sections
@import "header";
@import "article";
@import "footer";
@import "sidebar";

// margin on all content
div {
  .main { margin-top: 15px; }
  .error { margin: 120px 0px; }
}

ul.archives {
  li {
    span {
      width: 100px;
      display: inline-block;
    }
  }
}

h2 {
  font-family: 'Calluna Regular', serif;
  color: $azure;
  margin-bottom: 10px;

  span { color: $pinotnoir; }
  a { color: $azure; }
  a:hover { color: $teak; }
}
